@import "structure";
@import "colors";
@import "buttons";
@import "forms";
@import "type";

.dg-container {
  .dg-btn--cancel {
    color: #fff;
    background-color: #e62626;
  }

  .dg-btn--ok {
    color: #fff;
    background-color: $primary;
  }

  .dg-btn {
    display: inline-block;
    position: relative;
    min-width: 80px;
    padding: 6px 20px;
    border-radius: 4px;
    outline: 0;
    border: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-weight: 700;
  }
}

.standout {
  font-size: 1.2em;
}

.standout-lg {
  color: $primary;
  font-size: 1.7em;
}

.goal-detail {
  div {
    margin-bottom: 10px;
  }
}
