ngui-auto-complete {
  width: 550px;
  top: 66px;
  background: $wfp-green;
  .ngui-auto-complete > ul {
    background-color: transparent;
    border: none;
    max-height: 300px;

    li {
      padding: 0;
      border-bottom: 0;
      font-size: 1.5em;
      font-weight: bold;
      background: $wfp-green;
      color: $wfp-white;
      cursor: pointer;
      position: relative;
      .child-client {
        font-size: 0.6em;
        color: $wfp-light-grey;
      }
      &.selected {
        span.active-client {
          background-color: darken($wfp-green, 10%);
        }
        span.pending-client {
          background-color: darken($wfp-grey, 10%);
        }
        span.clients:after {
          content: '';
          position: absolute;
          top: 14px;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 6px;
          border-color: transparent transparent transparent $primary-canvas;
          display: inline-block;
        }

        span.pending-client-title + span.clients:after {
          top: 44px;
        }
      }
    }
  }

  .clients {
    display: block;
    padding: 6px;
    padding-left: 13px;
    &.active-client{
      background: $wfp-green;
      &.active-client:hover {
        background-color: darken($wfp-green, 10%);
      }
    }
    &.pending-client {
      background: $wfp-grey;
      &.pending-client:hover{
        background-color: darken($wfp-grey, 10%);
      }
    }
  }

  .no-match-found {
    display: none;
  }

  .pending-client-title {
    display: block;
    padding: 6px;
    padding-left: 13px;
    background: $wfp-grey;
    font-size: 0.6em;
  }

  .ngui-auto-complete > ul li:hover {
    background-color: darken($wfp-green, 10%);
  }

  .ngui-auto-complete > ul li.selected {
    background-color: darken($wfp-green, 10%);
  }
}
