
.progress-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: $hermes-spacer 0;
  display: block;
  font-size: 2em !important;
  border: none;
  z-index: 20;
    img {
      width: 25px;
      height: 25px;
      display: inline-block;
      position: relative;
      left: 0px;
    }
  span + img {
    left: 10px;
  }
  span {
    color: $wfp-white;
  }

  &.invalid,
  &.validation {
    @include button-color-and-transition($wfp-dark-grey);
    transition: bottom 0.3s ease-in-out;
    cursor: default;

  }
  &.confirmation {
    @include button-color-and-transition($wfp-green);
  }

  &.print,
  &.valid,
  &.finish{
    @include button-color-and-transition($wfp-green);
    @include addProgressBg($wfp-white);

  }
  &.label {
    background: $primary-well;
    color: $wfp-green;
    bottom: 0px;
    transition: bottom 0.3s ease-in-out;
  }
  &.complete {
    background: $wfp-green;
  }
  &.effect-notify {
    bottom: 61px;
    transition: bottom 0.3s ease-in-out;
  }
  &.button-hidden {
    display: none;
  }
}

.hide-button {
  display: none;
}


.generic-button {
  background-color: $primary-cta;
  display: block;
  color: $primary-cta-text;
  text-align: center;
  cursor: pointer;
  padding: $hermes-spacer 0;
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  border: none;
  &:hover, &:focus {
    background-color: $primary-cta-hover;
  }
  &.active, &:active {
    background-color: $primary-cta-active;
  }

}
