.wfp-drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
  padding: $hermes-spacer;

  .wfp-drawer__close {
    position: absolute;
    top: 11px;
    right: 11px;
    @include addRemove($wfp-black);
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:hover {
      @include addRemove($wfp-grey);
    }
  }

  h3 {
    font-size: 23px;
    margin: 0 0 $hermes-spacer*2;
  }
}
