.message {
  font-size: 1.6em;
  margin-top: $hermes-spacer*2;

  margin-top: 0;
  color: $wfp-white;
  background-repeat: no-repeat;
  background-position: 6px 11px;
  margin-bottom: $hermes-spacer*2;
  font-size: 20px;
  padding: $hermes-spacer $hermes-spacer $hermes-spacer $hermes-spacer*3;
}
.message--error {
  color: $wfp-white;
  background-color: $message-error;
  @include addWarningBg($wfp-white);
  background-repeat: no-repeat;
  background-position: top 9px right $hermes-spacer;
  padding: 3px $hermes-spacer*2 5px $hermes-spacer;
}
.message--warning {
  margin-top: 0;
  color: $message-error;
  @include addWarningBg($message-error);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 30px;
  margin-bottom: $hermes-spacer*2;
}

.message--warning--block {
  @include addWarningBg($wfp-white);
  background-color: $message-warning;
}

.message--error--block {
  @include addWarningBg($wfp-white);
  background-color: $message-error;
}

.message--success--block {
  @include addTick($wfp-white);
  background-color: $message-success;
}
