.form-group {
  margin: 0 0 $hermes-spacer;
  label {
    display: block;
    font-size: 1.6em;
    margin-bottom: $hermes-spacer/2;
  }
  input {
    width: 100%;
    font-size: 2.4em;
    padding: 2px $hermes-spacer;
    border: 2px $wfp-grey solid;
    font-weight: bold;
    outline: none;
    @include input-transition();
    &:active, &:focus {
      border: 4px $wfp-green solid;
      @include input-transition();
    }
  }

  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 100%;
    font-size: 2.4em;
    padding: 2px $hermes-spacer;
    border: 2px $wfp-grey solid;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    @include addArrowDown($wfp-grey);
    background-repeat: no-repeat;
    background-position: right $hermes-spacer top 17px;
    @include input-transition();
    &:active, &:focus {
      border: 4px $wfp-green solid;
      @include input-transition();
    }
    option {
      font-size: 18px;
    }
  }

  &.invalid {
    input, select{
      @include input-transition();
      border: 4px $form-error solid;
    }
  }
}

button.btn-form[type='submit'] {
  background-color: $wfp-green;
  border: none;
  width: 100%;
  color: $wfp-white;
  font-size: 1.6em;
  padding: $hermes-spacer/2;
  margin-top: $hermes-spacer*2;
  &.active, &:hover, &:focus {
    background-color: darken($wfp-green, 10%);
  }
}

.large-input {

  label { font-size: 1.5em; display: block; text-align: left; margin-bottom: $hermes-spacer / 2; }
  input {
    width: calc(100% - 20px);
    font-size: 2.6em;
    text-align: center;
    outline: none;
    border: 2px solid $form-element;
    padding: 6px;

    @include input-transition();
    @media(min-width: $screen-md) {
      width: 100%;
    }
    @media(min-width: $screen-lg) {
      font-size: 3.3em;
    }

    &:focus{
      padding: 4px;
      border: 4px solid $form-element-focus;
      @include input-transition();
    }
  }

  &.mandatory {
    position: relative;

    &.valid:after{
      background-color: $form-element-focus;
    }

    &.invalid input{
      border: 4px solid $form-element-mandatory;
      padding: 4px;
    }

    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 65px;
      right: 0px;
      width: 12px;
      height: 12px;
      z-index: 5;
      background-color: $form-element-mandatory;
      border-radius: 50%;
      @media(min-width: $screen-md) {
        right: -20px;
      }
      @media(min-width: $screen-lg) {
        top: 70px;
      }
    }
  }
}

$invalid-border-width: 2px;
$focus-border-width: 4px;
$input-height: 82px;

.standard-input {
  min-height: $input-height;
  position: relative;
  @extend .large-input;
  margin-bottom: $hermes-spacer;
  label {
    display: block;
  }
  input {
    text-align: left;
    font-size: 2.1em;
    padding: 2px 8px 3px;
    position: absolute;
    bottom:0;
    width: calc(100% - 20px);
    &:focus{
      padding: 2px 8px 3px;
      border-width: $focus-border-width;
      bottom: -($focus-border-width/2);
      left: -($focus-border-width/2);
    }
    @media(min-width: $screen-md) {
      width: 100%;
      &:focus{
        width: calc(100% + #{$focus-border-width});
      }
    };
  }

  select {
    text-align: left;
    font-size: 2.1em;
    padding: 2px 8px 3px;
    position: absolute;
    bottom:0;
    width: calc(100% - 20px);
    border: 2px solid $form-element;
    outline: none;
    &:disabled{
      background-color: lighten($wfp-grey, 30%);
      cursor: not-allowed;
    }
    &:focus{
      padding: 2px 8px 3px;
      border-width: $focus-border-width;
      bottom: -($focus-border-width/2);
      left: -($focus-border-width/2);
      border-color: $wfp-green;
    }
    @media(min-width: $screen-md) {
      width: 100%;
      &:focus{
        width: calc(100% + #{$focus-border-width});
      }
    };
  }

  &.mandatory {
    &:after{
      top: 51px;
      @include mandatory-transition();
      background-color: $form-element-focus;
    }
    &.invalid {
      &:after{
        @include mandatory-transition();
        background-color: $form-element-mandatory;
        content: "+";
        border-radius: 0;
        background-color: transparent;
        color: $form-element-mandatory;
        font-size: 30px;
        font-weight: bold;
        top: 40px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        right: -9px;
        @media(min-width: $screen-md) {
          right: -29px;
        };
      }
    }
    &.invalid input, &.invalid select {
      padding: 2px 8px 3px;
      border-width: $invalid-border-width;
      bottom: -($invalid-border-width/2);
      left: -($invalid-border-width/2);
      border-color: $form-error;
      &:focus{
        padding: 2px 8px 3px;
        border-width: $focus-border-width;
        bottom: -($focus-border-width/2);
        left: -($focus-border-width/2);
      }
    }
  }
}

.compact-input {
  @extend .standard-input;
  @include formElement(2px, 4px, 55px);
  input {
    font-size: 1.4em;
  }
  label {
    font-size: 1.1em;
  }
}

.wfp-radio {
  > div {
    top: -10px;
  }
  .row > div {
    margin-bottom: $hermes-spacer;
  }
  label {
    display: block;
    font-size: 1.5em;
    margin-bottom: 5.5px;
  }
  .key {
    position: absolute;
    top: 5px;
    left: 8px;
    color: $wfp-white;
    font-size: 0.7em;
  }
  input[type="radio"]:checked + label {
    background: $wfp-green;
    @include addTick($wfp-white);
    background-position: bottom 5px right 8px;
    background-repeat: no-repeat;
  }

  input[type="radio"] {
    visibility: hidden;
    float: left;
    width: 1px;
  }

  > div label {
    background-color: $primary-cta;
    display: block;
    color: $primary-cta-text;
    text-align: center;
    cursor: pointer;
    padding: $hermes-spacer 0;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    border: none;
    &:hover,&:focus {
      background-color: $primary-cta-hover;
    }
  }
  &.wfp-radio--boolean{
    div.col-xs-3:nth-child(1){
      padding-right: 0 !important;
    }
    div.col-xs-3:nth-child(2){
      padding-left: 0 !important;
    }
    input[type="radio"]:checked + label {
      background-color: $form-element-radio-checked;
      border: 2px $wfp-green solid;
      @include addTick($wfp-green);
      background-position: bottom 5px right 8px;
      background-repeat: no-repeat;
      outline: 0;
      color: $wfp-blue;
      &:hover,&:focus {
        background-color: darken($form-element-radio-checked, 10%);
        border: 2px $wfp-green solid;
      }
    }
    input[type="radio"] + label {
      background: $wfp-grey;
      border: 2px $wfp-grey solid;
      outline: 0;
      padding-top: $hermes-spacer*2;
      padding-bottom: $hermes-spacer*2;
      &:hover,&:focus {
        background-color: darken($wfp-grey, 10%);
        border: 2px darken($wfp-grey, 10%) solid;

      }
    }
  }
}


input.ng-invalid:focus + .error-inline {
  left: -$invalid-border-width;
  width: calc(100% + #{$invalid-border-width});
}

.error-inline--active + .error-inline {
  top: -11px;
  left: -1px;
  width: 100%;
  height: auto;
  font-size: 1em;
  padding: 6px;
  background-color: $form-error;
  transition: padding 0.5s, top 0.5s, height 0.5s ease-in-out;
}

.error-inline--active.error-inline--focus + .error-inline {
  left: -$invalid-border-width;
  width: calc(100% + 4px);
  padding: 6px 6px 6px 7px;
}

.error-inline {
  top: -42px;
  left: 0;
  width: calc(100% - 1px);
  height: 0;
  font-size: 1em;
  padding: 0;
  background-color: $form-error;
  color: $wfp-white;
  position: relative;
  z-index: -1;
  transition: width 1s, padding 1s, left 1s, top 0.5s, height 0.5s ease-in-out;
}

.label-header {
  margin: 0 0 $hermes-spacer;
  font-size: 1.5em;
  display: block;
}

.label-form {
  margin: 0 0 $hermes-spacer;
  font-size: 1.3em;
  display: block;
}

.inline-tooltip {
  font-size: 13px;
  position: relative;
  top: 48px;
  color: $wfp-grey;
}

.wfp-checkbox {
  padding: $hermes-spacer/2 $hermes-spacer*3 $hermes-spacer/2 $hermes-spacer*2;
  cursor: pointer;
  background-color: $primary-cta;
  font-size: 1.1em;
  font-weight: bold;
  color: $primary-cta-text;
  & + .wfp-checkbox {
    margin-left: $hermes-spacer;
  }
  &.checked {
    background-color: $wfp-green;
    @include addTick($wfp-white);
    background-position: bottom 5px right 8px;
    background-repeat: no-repeat;
  }

  input {
    visibility: hidden;
    width: 1px;
    float: left;
  }
}

.wfp-std-checkbox {
  display: block;
  cursor: pointer;
  font-size: 1.1em;
  padding-left: 32px;
  margin-bottom: $hermes-spacer;
  position: relative;
  &:after{
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 2px $wfp-grey solid;
    position: absolute;
    top: -2px;
    left: 0px;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  &.checked {
    @include addTick($wfp-green);
    background-repeat: no-repeat;
    background-position: 3px 1px;
  }
}


.wfp-label-std {
  display: block;
  width: 100%;
  font-weight: bold;

  &.wfp-label-std-level-1 {
    color: $wfp-green;
    margin-bottom: $hermes-spacer/2;
  }

  &.wfp-label-std-level-2 {
    color: $wfp-black;
    margin-bottom: $hermes-spacer/2;
  }

}
.wfp-std-input {
  margin-bottom: $hermes-spacer;

  input {
    outline: 4px $primary-well solid;
    border: 2px $wfp-grey solid;
    padding: 4px 5px;
    width: 100%;
    &:focus {
      border-color: $wfp-green;
      outline-color: $wfp-green;
    }
  }
}

.wfp-std-select {
  margin-bottom: $hermes-spacer;
  select {
    outline: 4px $primary-well solid;
    border: 2px $wfp-grey solid;
    padding: 4px 5px;
    width: 100%;
    &:focus {
      border-color: $wfp-green;
      outline-color: $wfp-green;
    }
  }
}

.form-divide {
  border-bottom: 1px #ccc solid;
  padding-bottom: $hermes-spacer;
  margin-bottom: $hermes-spacer;
}
