html { height: 100%; }
body { min-height: 100%; background-color: $primary-canvas; padding-bottom: 80px; }

.home-page-container { margin-top: $hermes-spacer; }
.row-spacer { margin-top: 80px; }
.smart-button-grid-list { margin: 0 0 $hermes-spacer*2; }

.focused-screen-container {
  @media(min-width: $screen-xs) {
    margin-top: 50px;
  }
}
.row-separate {
  margin-top: 50px;
}


.header-continuation {
  background-color: $wfp-blue;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -1;
  height: 44px;
}

.action-complete-message {
  font-size: 1.3em;
  span {
    font-size: 1.5em;
    color: $wfp-green;
    margin-left: $hermes-spacer/2;
  }
}
