/*## Transitions */
@mixin input-transition() {
  -moz-transition: border-color .2s ease-in;
  -o-transition: border-color .2s ease-in;
  -webkit-transition: border-color .2s ease-in;
  transition: border-color .2s ease-in;
}

@mixin mandatory-transition() {
  -moz-transition: background-color .0s ease-in;
  -o-transition: background-color .0s ease-in;
  -webkit-transition: background-color .0s ease-in;
  transition: background-color .0s ease-in;
}

@mixin modal-fade-in(){
  -webkit-transition: visibility 0.2s, opacity 0.2s ease-in-out;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

@mixin modal-fade-out(){
  -webkit-transition: visibility 0.2s, opacity 0.2s ease-in-out;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
  opacity: 1;
  visibility: visible;
}

@mixin button-color-and-transition($color) {
  background-color: $color;
  -moz-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  &:focus, &:hover{
    background-color: darken($color, 10%);
    -moz-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }
}

@mixin addWarningBg($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z'/></svg>");
}

@mixin addInfoBg($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1216 1344v128q0 26-19 45t-45 19h-512q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h64v-384h-64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h384q26 0 45 19t19 45v576h64q26 0 45 19t19 45zm-128-1152v192q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-192q0-26 19-45t45-19h256q26 0 45 19t19 45z'/></svg>");
}

@mixin addTick($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>");
}
@mixin addTickVer2($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'><g id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='Page-1-Copy' fill='#006700' fill-rule='nonzero'><path d='M104.568397,112.284199 C108.828748,112.284199 112.284199,108.827952 112.284199,104.568397 L112.284199,15.4316026 C112.284199,11.1673944 108.831811,7.71580132 104.568397,7.71580132 L15.4316026,7.71580132 C11.165863,7.71580132 7.71580132,11.165863 7.71580132,15.4316026 L7.71580132,104.568397 C7.71580132,108.829484 11.1689251,112.284199 15.4316026,112.284199 L104.568397,112.284199 Z M104.568397,120 L15.4316026,120 C6.90681013,120 0,113.090008 0,104.568397 L0,15.4316026 C0,6.90454364 6.90454364,0 15.4316026,0 L104.568397,0 C113.092732,0 120,6.9056772 120,15.4316026 L120,104.568397 C120,113.088874 113.090465,120 104.568397,120 Z' id='Stroke-1'></path><path d='M47.2475261,75.53184 L33.8060259,61.8939078 C32.2709287,60.336377 29.782346,60.336683 28.2476208,61.8945913 C26.7128957,63.4524996 26.7131972,65.9780621 28.2482944,67.5355929 L44.4689971,83.9933424 C46.0039627,85.5507397 48.4922857,85.5505868 50.0270654,83.9930006 L91.7520424,41.6480009 C93.2869536,40.0902814 93.2869536,37.5647189 91.7520424,36.0069994 C90.2171312,34.4492798 87.7285485,34.4492798 86.1936373,36.0069994 L47.2475261,75.53184 Z' id='Stroke-3'></path></g></g></svg>");
}
@mixin addArrowDown($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1683 808l-742 741q-19 19-45 19t-45-19l-742-741q-19-19-19-45.5t19-45.5l166-165q19-19 45-19t45 19l531 531 531-531q19-19 45-19t45 19l166 165q19 19 19 45.5t-19 45.5z'/></svg>");
}

@mixin addSort($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1408 1088q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45zm0-384q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z'/></svg>");
}

@mixin addSortAsc($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1408 1088q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z'/></svg>");
}

@mixin addRemove($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z'/></svg>");
}

@mixin addSortDesc($color) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1408 704q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z'/></svg>");
}

@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


@mixin addProgressBg($color) {
  &:after {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg fill='"+ $color +"' width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293h-704q-52 0-84.5-37.5t-32.5-90.5v-128q0-53 32.5-90.5t84.5-37.5h704l-293-294q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z' fill='#fff'/></svg>");
    content: '';
    position: relative;
    display: inline-block;
    width: 25px;
    height: 27px;
    top: 8px;
    left: 5px;
  }
}

@mixin formElement($invalid-border-width, $focus-border-width, $input-height){

    min-height: $input-height;
    @extend .large-input;
    input {
      &:focus{
        border-width: $focus-border-width;
        bottom: -($focus-border-width/2);
        left: -($focus-border-width/2);
      }
      @media(min-width: $screen-md) {
        &:focus{
          width: calc(100% + #{$focus-border-width});
        }
      };
    }
    select {
      &:focus{
        border-width: $focus-border-width;
        bottom: -($focus-border-width/2);
        left: -($focus-border-width/2);
      }
      @media(min-width: $screen-md) {
        &:focus{
          width: calc(100% + #{$focus-border-width});
        }
      };
    }

    &.mandatory {
      &.invalid input, &.invalid select {
        border-width: $invalid-border-width;
        bottom: -($invalid-border-width/2);
        left: -($invalid-border-width/2);
        &:focus{
          padding: 2px 8px 3px;
          border-width: $focus-border-width;
          bottom: -($focus-border-width/2);
          left: -($focus-border-width/2);
        }
      }
    }

}
