@import './colors';
@import './bootstrap-sass/assets/stylesheets/bootstrap.scss';
@import './bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

.parcel-detail__title {
  font-size: 1.5em;
  @media(min-width: $screen-xs) {
    font-size: 1em;
    margin-top: 0;
  }
  @media(min-width: $screen-sm) {
    font-size: 1.3em;
    margin-top: 0;
  }
  @media(min-width: $screen-md) {
    font-size: 1.6em;
    margin-top: 0;
  }
}

.parcel-detail-barcode {
  .parcel-detail__barcode {
    display: inline-block;
    padding-bottom: 11px;
    letter-spacing: 7px;
    font-size: 1.5em;
  }
  .parcel-detail__change {
    background-color: $primary-cta;
    color: $primary-cta-text;
    cursor: pointer;
    padding: $hermes-spacer / 2;
    border: none;
    position: relative;
    left: 10px;
    bottom: 2px;
    &:hover,&:focus {
      background-color: $primary-cta-hover;
    }
    &.active,&:active {
      background-color: $primary-cta-active;
    }
  }
}

.parcel-detail {
  // margin-top: $hermes-spacer;
  .parcel-detail__row {
    display: flex;
    flex-wrap: wrap;
  }
  .parcel-detail__block {
    flex: 1 0 calc(50% - 10px);
    box-sizing: border-box;
    padding: 5px $hermes-spacer $hermes-spacer 0;
    border-top: solid 2px $list-divider;
    .parcel-detail__item {
      .parcel-detail__heading {
        color: $list-key;
        margin-bottom: 2px;
        font-size: 1.4em;
        font-weight: 600;
      }
      .parcel-detail__value {
        color: $list-value;
        margin-top: 0;
        font-size: 1.3em;
        font-weight: 600;
        .address-block {
          display: block;
        }
        &.link-text {
          @extend .link-text
        }
      }
    }
  }

  .parcel-detail__view-more {
    background-color: $wfp-light-grey;
    border: none;
    display: block;
    width: 100%;
    font-weight: bold;
    position: relative;
    &:after{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #000000 transparent transparent transparent;
      content: "";
      position: relative;
      top: -2px;
      left: 6px;
      font-size: 0;
    }
  }

  .parcel-detail__view-less {
    &:after{
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #000000 transparent;
      top: -6px;
    }
  }


  .parcel-detail__row.collapsed{
    background: $primary-well;
    .parcel-detail__block {
      flex: 1 0 calc(100% - 10px);
      box-sizing: border-box;
      padding: 0;
      border-top: none;
      margin: 5px $hermes-spacer $hermes-spacer;
      .parcel-detail__item {
        .parcel-detail__heading {
          font-size: 1em;
        }
        .parcel-detail__value {
          font-size: 1.2em;
        }
      }
    }
  }

}

.parcel-detail__barcode--bg {
  background: $wfp-blue;
  color: $wfp-white;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.3em;
  padding: $hermes-spacer/2;
  font-weight: normal;
  text-align: center;
}

.parcel-detail__barcode--bg ~ .parcel-detail {
  margin-top: 0;
}

