.tab {
  background-color: $tab-bg-color;
  font-weight: bold;
  width: 100%;
  color: $tab-text-color;
  border: none;
  outline: none;
  position: relative;
  &:focus,
  &.focused,
  &:hover{
    background-color: $tab-bg-color-hover;
  }
  &:focus{
    text-decoration: underline;
  }
  &.active {
    background-color: $tab-bg-color-active;
  }
  .tab-count {
    background-color: $tab-counter-bg-color;
    position: absolute;
    color: $tab-counter-color;
    padding: 2px $hermes-spacer;
  }
  .hot-key-id {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 0.7em;
  }
}

.level-1-tabs {
  font-size: 1.5em;
  margin-bottom: $hermes-spacer;
  .tab {
    padding: 8px;
    .tab-count {
      top: 6px;
      right: 6px;
    }
  }
}

.level-2-tabs {
  font-size: 1.3em;
  margin-bottom: $hermes-spacer*2;
  .tab {
    padding: 6px;
    .tab-count {
      top: 4px;
      right: 4px;
    }
    &.active {
      background-color: $tab-level2-bg-color-active;
    }
  }
}
