.uppercase {
  text-transform: uppercase;
}

.link-text {
  color: $wfp-blue;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.indent-left {
  margin-left: $hermes-spacer/2;
}

.break-all {
  word-break: break-all;
}
