body {
  &.wallpaper { background-color: #000; }
  &.wallpaper #app-wallpaper { position: fixed; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center 0;  background-size: cover; z-index: -1; opacity: 0.4; }
  &.morning-1 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-morning-1.jpg"); }
  &.morning-2 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-morning-2.jpg"); }
  &.morning-3 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-morning-3.jpg"); }
  &.afternoon-1 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-afternoon-1.jpg"); }
  &.afternoon-2 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-afternoon-2.jpg"); }
  &.afternoon-3 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-afternoon-3.jpg"); }
  &.evening-1 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-evening-1.jpg"); }
  &.evening-2 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-evening-2.jpg"); }
  &.evening-3 #app-wallpaper { background-image: url("/assets/images/wallpapers/wallpaper-evening-3.jpg"); }
}
